extends layout.pug

block title
	title Создание сайтов в Тольятти, продвижение сайтов - web студия SEOTLT

block content
	section.services
		.swiper#swiper-services
			.swiper-wrapper
				.swiper-slide.services__slide
					.services__wrap.services__wrap--theme-business
						.services__info
							h1.services__title Проектирование, <br>дизайн и <br>разработка
							h2.services__text Сайтов, мобильных приложений и <br>техническая поддержка интернет <br>проектов.
				.swiper-slide.services__slide
					.services__wrap.services__wrap--theme-marketing
						.services__info
							h1.services__title Комплексный <br>маркетинг
							h2.services__text Увеличиваем посещаемость ресурса, <br>количество заявок и продажи, повышаем <br>узнаваемость бренда винтернете.
				.swiper-slide.services__slide
					.services__wrap.services__wrap--theme-projects
						.services__info
							h1.services__title Сложные <br>веб-проекты
							h2.services__text Внедряем эффективные решения <br>для ведения бизнеса онлайн.
		.services__navigation
			.services__btn-prev: include ../img/iconsvg/arrow-services-prev.svg
			.services__pagination
			.services__btn-next: include ../img/iconsvg/arrow-services-next.svg

	section.about.page__wrap
		.about__show
			.about__circle-1
			.about__circle-2
			.about__play
		.about__info
			h2.about__title Мы digital студия, которая <span>создает и развивает интернет-проекты</span> любой сложности, проявляет себя в интересных дизайн-решениях.
			p.about__text Мы одинаково хорошо справляемся с серьезными интеграциями, комплексными разработками, нетиповым функционалом для e-commerce и созданием креативных, нестандартных концепций для лэндингов и корпоративных сайтов. Мы помогаем легко воплотить самые смелые идеи.
			a.about__btn.btn.btn--theme-white Узнать больше
			a.about__btn.btn.btn--theme-blue.btn--left-arrow
				include ../img/iconsvg/arrow-down.svg
				| Презентация

	section.competencies.page__wrap
		h1.competencies__title Компетенции
		.competencies__list
			.competencies__item
				.competencies__img: include ../img/iconsvg/develop.svg
				h2.competencies__name Разработка сайтов и сервисов
				p.competencies__desc Быстрые решения на готовых шаблонах или индивидуальная разработка.
				.competencies__price от 70 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/marketing.svg
				h2.competencies__name Комплексный маркетинг
				p.competencies__desc Повышаем конверсию, приводим лиды и выводим в топ поисковых систем.
				.competencies__price от 10 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/e-commerce.svg
				h2.competencies__name E-commerce решения
				p.competencies__desc Типовые решения для малого и среднего бизнеса и highload проекты для крупных компаний.
				.competencies__price от 180 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/design.svg
				h2.competencies__name Графический и веб-дизайн
				p.competencies__desc Комплекс дизайн работ от разработки брендинга и баннеров до интерактивных интерфейсов.
				.competencies__price от 30 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/mobile.svg
				h2.competencies__name Мобильные приложения
				p.competencies__desc Нативные, web, кроссплатформенные.
				.competencies__price от 150 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/business.svg
				h2.competencies__name Бизнес-сервисы
				p.competencies__desc Индивидуальные решения под задачи Вашего бизнеса.
				.competencies__price от 150 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше

	section.portfolio.page__wrap
		.portfolio__item.portfolio__item--theme-papa-pekar
			.portfolio__info.portfolio__info--theme-papa-pekar
				h2.portfolio__title Папа Пекарь<br> доставка пиццы<br> интернет-магазин
				.portfolio__btn.btn.btn--theme-white узнать больше
		.portfolio__item.portfolio__item--theme-mysko-plus
			.portfolio__info.portfolio__info--theme-mysko-plus
				h2.portfolio__title Оптовая продажа<br> мяса компания<br> Мяско Плюс
				.portfolio__btn.btn.btn--theme-white узнать больше
		.portfolio__item.portfolio__item--theme-tlt-telekom
			.portfolio__info.portfolio__info--theme-tlt-telekom
				h2.portfolio__title Тольятти Телеком<br> корпоративный<br> сайт
				.portfolio__btn.btn.btn--theme-white узнать больше

	section.review.page__wrap
		.review__title О нас говорят
		.swiper.review__wrap#swiper-review
			.swiper-wrapper
				.swiper-slide.review__slide
					.review__img
						picture
							source(media="(max-width: 768px)" srcset="/img/review-mobile-01.jpg 768w")
							img(src="/img/review-01.jpg")
					.review__body
						.review__text Молодой, энергичный и созидательный коллектив Seotlt помог нашей компании увидеть новые перспективы развития и формы продвижения. Надеемся на дальнейшее взаимовыгодное партнерство!
						.review__autor Михаил Липин, Директор сети пиццерий «Папа Пекарь»
						.review__info
							.review__btn.btn.btn--theme-blue.btn--left-arrow
								include ../img/iconsvg/arrow-down.svg
								| СКАЧАТЬ ОРИГИНАЛ
							img(src="/img/papapekar.png").review__logo
				.swiper-slide.review__slide
					.review__img
						picture
							source(media="(max-width: 768px)" srcset="/img/review-mobile-02.jpg 768w")
							img(src="/img/review-02.jpg")
					.review__body
						.review__text Группа компаний "Тольятти Телеком" выражает благодарность коллективу компании Seotlt за профессионализм в подготовке и реализации проекта по созданию сайта www.totel.ru. Работа была завершена в срок, с высокой ответственностью, учтены все пожелания заказчика.
						.review__autor Владимир Тихонов, Генеральный директор "Тольятти Телеком"
						.review__info
							.review__btn.btn.btn--theme-blue.btn--left-arrow
								include ../img/iconsvg/arrow-down.svg
								| СКАЧАТЬ ОРИГИНАЛ
							img(src="/img/totel.png").review__logo
				.swiper-slide.review__slide
					.review__img
						picture
							source(media="(max-width: 768px)" srcset="/img/review-mobile-03.jpg 768w")
							img(src="/img/review-03.jpg")
					.review__body
						.review__text Удобство работы с командой SEOTLT обуславливается тем, что специалисты, работающие над проектом, вникают в суть технического задания, непосредственно, на территории нашей компании, на "живых" примерах.
						.review__autor Дмитрий Мандычев, Директор компании "Манро Механика"
						.review__info
							.review__btn.btn.btn--theme-blue.btn--left-arrow
								include ../img/iconsvg/arrow-down.svg
								| СКАЧАТЬ ОРИГИНАЛ
							img(src="/img/manro.jpg").review__logo
		.review__navigation
			.review__btn-prev: include ../img/iconsvg/arrow-prev.svg
			.review__pagination
			.review__btn-next: include ../img/iconsvg/arrow-next.svg

	section.clients.page__wrap
		h3.clients__title ЗА 14 ЛЕТ РАБОТЫ У НАС БЫЛО <span>БОЛЕЕ 300 КЛИЕНТОВ</span>
		.clients__list
			img(src="/img/totel.png").clients__item
			img(src="/img/globex.png").clients__item
			img(src="/img/papapekar.png").clients__item
			img(src="/img/administration.png").clients__item
			img(src="/img/aldis.png").clients__item

	section.feedback.page__wrap
		.feedback__img
		.feedback__block
			.feedback__body
				p.feedback__title Планируете <br>проект?
				p.feedback__text Давайте сделаем его вместе!
				p.feedback__contact
					a(href="#").feedback__link +7 (8482) 57-08-08
					a(href="#").feedback__link info@seotlt.ru
				form.feedback__form.form(action="" method="post" enctype="multipart/form-data")
					.form__group.form__group--w-full
						input(type="text" pattern="[A-Za-zА-Яа-яЁё]{3,}" value="" name="TITLE" required).form__input.form__input--w-full#form-title
						label.form__label(for="form-title") Представьтесь, пожалуйста&nbsp;*
					.form__group.form__group--w-6-12
						input(type="text" value="" name="PHONE" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required).form__input#form-phone
						label.form__label(for="form-phone") Телефон&nbsp;*
					.form__group.form__group--w-6-12
						input(type="email" value="").form__input#form-email
						label.form__label(for="form-email") E-mail
					.form__group.form__group--w-6-12
						input(type="hidden" title="COMMENTS" name="COMMENTS" value="Заявка с главной страницы")
						label.form__file(for="form-file")
							include ../img/iconsvg/file.svg
							| Прикрепить файл
						input(type="file" name="BRIEF" id="form-file").form__input
					.form__group.form__group--w-6-12.form__group--start-right
						button(type="submit").btn.btn--theme-blue.btn--right-arrow
							| Отправить
							include ../img/iconsvg/arrow-next.svg
					.form__group--w-full
						label.form__consent.switch(for="form__consent")
							input(type="checkbox" checked required)#form__consent
							.switch__checkbox
							span Даю согласие на обработку <a href="#">персональных данных</a>
			.feedback__footer
				a.about__btn.btn.btn--theme-white.btn--left-arrow
					include ../img/iconsvg/arrow-down.svg
					| Бриф
				p.feedback__text-brif —&nbsp;&nbsp;заполните и прикрепите к письму




