extends layout.pug

block title
	title Создание сайтов в Тольятти, продвижение сайтов - web студия SEOTLT

block content
	section.about
		.about__show
		.about__info
			h2.about__title Мы digital студия, которая <span>создает и развивает интернет-проекты</span> любой сложности, проявляет себя в интересных дизайн-решениях.
			p.about__text Мы одинаково хорошо справляемся с серьезными интеграциями, комплексными разработками, нетиповым функционалом для e-commerce и созданием креативных, нестандартных концепций для лэндингов и корпоративных сайтов. Мы помогаем легко воплотить самые смелые идеи.
			a.about__btn.btn.btn--theme-white Узнать больше
			a.about__btn.btn.btn--theme-blue
				include ../img/iconsvg/arrow-down.svg
				| Презентация

	section.competencies
		h1.competencies__title Компетенции
		.competencies__list
			.competencies__item
				.competencies__img: include ../img/iconsvg/develop.svg
				h2.competencies__name Разработка сайтов и сервисов
				p.competencies__desc Быстрые решения на готовых шаблонах или индивидуальная разработка.
				.competencies__price от 70 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/marketing.svg
				h2.competencies__name Комплексный маркетинг
				p.competencies__desc Повышаем конверсию, приводим лиды и выводим в топ поисковых систем.
				.competencies__price от 10 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/e-commerce.svg
				h2.competencies__name E-commerce решения
				p.competencies__desc Типовые решения для малого и среднего бизнеса и highload проекты для крупных компаний.
				.competencies__price от 180 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/design.svg
				h2.competencies__name Графический и веб-дизайн
				p.competencies__desc Комплекс дизайн работ от разработки брендинга и баннеров до интерактивных интерфейсов.
				.competencies__price от 30 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/mobile.svg
				h2.competencies__name Мобильные приложения
				p.competencies__desc Нативные, web, кроссплатформенные.
				.competencies__price от 150 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше
			.competencies__item
				.competencies__img: include ../img/iconsvg/mobile.svg
				h2.competencies__name Бизнес-сервисы
				p.competencies__desc Индивидуальные решения под задачи Вашего бизнеса.
				.competencies__price от 150 000 р.
				a(href="#").competencies__btn.btn.btn--theme-white Узнать больше

	section.review
		.review__title О нас говорят
		.swiper.review__wrap
			.swiper-wrapper
				.swiper-slide
					.review__slide
						.review__img: img(src="/img/review-01.jpg")
						.review__body
							.review__text Молодой, энергичный и созидательный коллектив Seotlt помог нашей компании увидеть новые перспективы развития и формы продвижения. Надеемся на дальнейшее взаимовыгодное партнерство!
							.review__autor Михаил Липин, Директор сети пиццерий «Папа Пекарь»
							.review__info
								.review__btn.btn.btn--theme-blue
									include ../img/iconsvg/arrow-down.svg
									| СКАЧАТЬ ОРИГИНАЛ
								img(src="/img/papapekar.png").review__logo
				.swiper-slide.review__slide
					.review__img: img(src="/img/review-02.jpg")
					.review__body
						.review__text Группа компаний "Тольятти Телеком" выражает благодарность коллективу компании Seotlt за профессионализм в подготовке и реализации проекта по созданию сайта www.totel.ru. Работа была завершена в срок, с высокой ответственностью, учтены все пожелания заказчика.
						.review__autor Владимир Тихонов, Генеральный директор "Тольятти Телеком"
						.review__info
							.review__btn.btn.btn--theme-blue
								include ../img/iconsvg/arrow-down.svg
								| СКАЧАТЬ ОРИГИНАЛ
							img(src="/img/totel.png").review__logo
				.swiper-slide.review__slide
					.review__img: img(src="/img/review-03.jpg")
					.review__body
						.review__text Удобство работы с командой SEOTLT обуславливается тем, что специалисты, работающие над проектом, вникают в суть технического задания, непосредственно, на территории нашей компании, на "живых" примерах.
						.review__autor Дмитрий Мандычев, Директор компании "Манро Механика"
						.review__info
							.review__btn.btn.btn--theme-blue
								include ../img/iconsvg/arrow-down.svg
								| СКАЧАТЬ ОРИГИНАЛ
							img(src="/img/manro.jpg").review__logo
		.review__navigation
			.review__btn-prev: include ../img/iconsvg/arrow-prev.svg
			.review__pagination
			.review__btn-next: include ../img/iconsvg/arrow-next.svg

	section.clients
		h3.clients__title ЗА 14 ЛЕТ РАБОТЫ У НАС БЫЛО <span>БОЛЕЕ 300 КЛИЕНТОВ</span>
		.clients__list
			img(src="/img/totel.png").clients__item
			img(src="/img/globex.png").clients__item
			img(src="/img/papapekar.png").clients__item
			img(src="/img/administration.png").clients__item
			img(src="/img/aldis.png").clients__item

	section.feedback
		.feedback__block
			p.feedback__title Планируете проект?
			p.feedback__text Давайте сделаем его вместе!
			p.feedback__contact +7 (8482) 57-08-08 info@seotlt.ru
			form.feedback__form(action="/bitrix24_api/index.php" method="post" enctype="multipart/form-data")
				label Представьтесь, пожалуйста&nbsp;*
				input(type="text" name="TITLE" pattern="[A-Za-zА-Яа-яЁё]{3,}" value="" required="")




