doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="Уже более 14 лет наша компания предоставляет своим клиентам полный комплекс услуг в области информационных технологий: разработка, продвижение, поддержка и развитие сайтов")
		meta(name="keywords" content="создание сайтов тольятти, разработка сайтов тольятти, продвижение сайтов, раскрутка сайтов, веб студия, сайты, создать сайт")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet")
		link(rel="stylesheet", href="/css/swiper-bundle.min.css")

		// build:css
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="/css/print.css", media="print")
		// endbuild
		block title
			title SEOtlt

		block top-script

	body.page
		header.header
			a.header__logo(href="/"): include ../img/iconsvg/seotlt_logo.svg
			.header__menu
				nav.menu
					ul.menu__lists
						li.menu__item: a(href="#").menu__link Портфоли
						li.menu__item: a(href="#").menu__link Услуги
						li.menu__item: a(href="#").menu__link Студия
						li.menu__item: a(href="#").menu__link Контакты
			.header__mobile-menu.mobile-menu
				a(href="tel:+78482783606").mobile-menu__phone +7 (8482) 78-36-06
				.hamburger.mobile-menu__hamburger: .hamburger__line
				nav: ul.mobile-menu__lists
					li.mobile-menu__item: a(href="#").mobile-menu__link Главная
					li.mobile-menu__item: a(href="#").mobile-menu__link Портфоли
					li.mobile-menu__item: a(href="#").mobile-menu__link Услуги
						ul.menu-services
							li.menu-services__item: a(href="#").menu-services__link Разработка сайтов и сервисов
							li.menu-services__item: a(href="#").menu-services__link Комплексный маркетинг
							li.menu-services__item: a(href="#").menu-services__link E-commerce решения
							li.menu-services__item: a(href="#").menu-services__link Графический и веб-дизайн
							li.menu-services__item: a(href="#").menu-services__link Мобильные приложения
							li.menu-services__item: a(href="#").menu-services__link Бизнес-сервисы
					li.mobile-menu__item: a(href="#").mobile-menu__link Студия
					li.mobile-menu__item: a(href="#").mobile-menu__link Контакты
				p.mobile-menu__copyright © 2009 - 2023 SEOTLT

		.page__content
			.page__wrap
				block content

		footer.page__footer.footer
			.footer__menu
				nav.menu
					ul.menu__lists
						li.menu__item: a(href="/").menu__link.menu__link--theme-footer Главная
						li.menu__item: a(href="/doc/").menu__link.menu__link--theme-footer Документация
						li.menu__item: a(href="404.html").menu__link.menu__link--theme-footer 404
			.footer__info
				.footer__contact
					.footer__title Project manager
					a(href="tel:+78482783606").footer__phone +7 (8482) 78-36-06
					a(href="mailto:info@seotlt.ru").footer__email info@seotlt.ru
				.footer__contact
					.footer__title Sales manager
					a(href="tel:+78482783606").footer__phone +7 (8482) 78-36-06
					a(href="mailto:anna@seotlt.ru").footer__email anna@seotlt.ru
				.footer__contact
					.footer__title Account manager
					a(href="tel:+78482783606").footer__phone +7 (8482) 78-36-06
					a(href="mailto:boris@seotlt.ru").footer__email boris@seotlt.ru
				.footer__vacancy
					a(href="#").footer__vacancy-link
						| Открытые вакансии
						include ../img/iconsvg/arrow-right.svg
			.footer__social
				a(class="footer__social-link" href="https://vk.com/seotlt" target="_blank") Вконтакте
				a(class="footer__social-link" href="https://www.facebook.com/groups/718092454975847/" target="_blank") Facebook

		block bottom-script
			script(src="/js/swiper-bundle.min.js")
			// build:js_bottom
			script(src="/js/script.js", type="module")
			// endbuild
