/*!-----------------------------------------------------------------
	.btn - модуль кнопки
 -----------------------------------------------------------------*/
.btn
	display inline-block
	letter-spacing: 2.5px
	text-transform: uppercase
	text-decoration: none
	line-height: 55px
	font-size: 13px
	font-weight: 700
	padding-left: 35px
	padding-right: 35px
	transition: .3s
	cursor: pointer
	white-space: nowrap
	height: 55px
	border-radius: 30px
	border: 0
	&:hover
		box-shadow: none
	&--disabled
	&[disabled]
		opacity .65
		cursor default
	&:focus
		outline: 0
		box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25)
	&:focus, &:hover
		text-decoration: none
		color: var(--colorBlack)
	&--theme-blue
		background: #2a90f6
		color: #fff
		box-shadow: 0 8px 16px rgba(13, 113, 211, 0.25)
		&:hover
			color: #fff
			background: #107ded
	&--theme-white
		background: #fff
		color: #2a90f6
		box-shadow: 0 8px 16px rgba(13, 113, 211, 0.15)
		&:hover
			color: #2a90f6
			background: #e4f1ff

	& > svg
		margin-bottom: -1px
		margin-right 6px
		fill #fff
		size 12px
		transition .3s
	&:hover > svg
		margin-bottom -4px
