/*!-----------------------------------------------------------------
	.clients - модуль секция наши клиенты
 -----------------------------------------------------------------*/
.clients
	padding: 50px 10%
	&__title
		text-transform: uppercase
		font-size: 20px
		font-weight: 400
		text-align: center
		& > span
			color #2a90f6
	&__list
		margin 50px auto 10px
		display: flex
		justify-content: space-between
		align-items: center
	&__item
		opacity: 0.3
		transition: .3s
		&:hover
			opacity: 1