/*!-----------------------------------------------------------------
	.footer - модуль подвал сайта
 -----------------------------------------------------------------*/
.footer
	&__menu
		background-color #2d3f4d
		padding 80px 8.333% 70px
	&__info
		background-color #2d3f4d
		color #fff
		display flex
		padding 0 8.333%
	&__contact
		width 25%
		display flex
		flex-direction column
		padding-bottom 66px
	&__title
		color: #688ebf
		font-family: 'ClearSansRegular', sans-serif
		font-size: 17px
	&__phone
	&__email
		color #fff
		margin-top 18px
		font-size 15px
		line-height 1.3
		&:hover
			color #fff
			text-decoration none
	&__phone
		font-family 'ClearSansBold';
	&__vacancy
		display flex
		align-items center
	&__vacancy-link
		text-transform uppercase
		color #FFF
		padding-bottom 66px
		font-weight 700
		letter-spacing 1px
		font-size 12px
		white-space normal
		&:hover
			color #fff
			text-decoration none
			& > svg
				margin-left: 12px
		& > svg
			margin-bottom: -2px
			margin-left: 7px
			width: 13px
			fill: #fff
			transition: .3s

	&__social
		background-color #253643
		padding 48px 0
		text-align center
	&__social-link
		font-family 'ClearSansBold';
		text-transform uppercase
		color #798e9e
		font-size 15px
		& + &
			margin 0 60px
		&:hover
			color: #1a88f9
			text-decoration none





