/*!-----------------------------------------------------------------
  .hamburger - модуль показа меню на маленьких экранах
 -----------------------------------------------------------------*/
.hamburger
	height 35px
	width 35px
	cursor pointer
	transition-duration: 0.5s
	position relative
	margin-left 50px
	&__line
		transition-duration: 0.5s
		position: absolute
		height: 3px
		width: 35px
		top: 16px
		background-color: #191919
		border-radius: 3px
		&:before
			transition-duration: 0.5s
			position: absolute
			width: 60%
			height: 3px
			background-color: #191919
			content: ""
			top: -9px
			border-radius: 3px
		&:after
			transition-duration: 0.5s
			position: absolute
			width: 60%
			height: 3px
			background-color: #191919
			content: ""
			top: 9px
			border-radius: 3px
	&--is-active
		.hamburger__line
			transition-duration: 0.5s
			background: transparent
			&:before
				width 35px
				transform: rotateZ(45deg) translate(7px, 7px)
			&:after
				width 35px
				transform: rotateZ(-45deg) translate(6px, -6px)

// Adaptive
// @media screen and (max-width: 425px)
