/*!-----------------------------------------------------------------
	.iconsvg - модуль иконок svg
 -----------------------------------------------------------------*/
.icon-svg
	size 32px 32px
	& > svg
		width inherit
		height inherit
		display inline-block
		vertical-align: middle
		// fill currentColor
		fill inherit
	&--theme-small
		size 16px 16px
	&--theme-large
		size 64px 64px

