/*!-----------------------------------------------------------------
	.jumbotron - модуль для демонстрации ключевого содержимого сайта
 -----------------------------------------------------------------*/
.jumbotron
	min-height: 280px
	border-radius calc(2 * var(--borderRadius))
	background-color #95c8e2
	background-image url(/img/jumbotron.png)
	background-position 10px 10px
	background-size auto 100%
	background-repeat no-repeat
	padding 1.5em 2em 1em 29.4em
	&__header
		font-size 3rem
		margin .4em 0 .4em 0
	&__text
		font-size 2rem
		margin 0 0 .5em 0
	&__link
		display inline-block