/*!-----------------------------------------------------------------
	.menu - модуль меню
 -----------------------------------------------------------------*/
.menu
	position relative
	&__lists
		margin 0
		padding 0
		display flex
		list-style none
	~/__link
		display: block
		text-decoration: none
		font-family: 'Roboto', sans-serif
		font-weight: 500
		font-size: 16px
		margin: 0 25px
		color: #36434d
		transition: .3s
		position: relative
		&:before
		&:after
			position absolute
			display block
			transition .3s
			opacity 0
			color: #3f3f3f
			font-size: 18px
			top: -1px
		&:before
			left: -5px
			content: '['
		&:after
			right: -5px
			content: ']'
		&:hover
			color #268ef6
			&:before
				opacity 1
				left: -15px
			&:after
				opacity 1
				right: -15px
	&--theme-footer
		& ^[0]__lists
			@media screen and (max-width 375px)
				display block
		& ^[0]__item
			margin-right 5%
			margin-bottom 10px
		& ^[0]__link
			font-size 16px
			font-weight bold
			color #fff
			margin 0
			font-family: 'PT Sans Caption', sans-serif
			&:hover
				color #268ef6
			&:before
			&:after
				display none

// Adaptive
// @media screen and (max-width: 425px)



