/*!-----------------------------------------------------------------
	.page - модуль отвечающий за разметку страницы
 -----------------------------------------------------------------*/
.page
	display: flex
	flex-direction: column
	min-height: 100vh
	// padding 0 15px
	// @media screen and (min-width 992px)
	// 	padding 0 70px
	// @media screen and (min-width 1400px)
	// 	padding 0 135px
	&__content
		flex: 1
	&__wrap
		margin 0 15px
		@media screen and (min-width 992px)
			margin 0 70px
		@media screen and (min-width 1440px)
			margin 0 135px
