/*!-----------------------------------------------------------------
  .progress - модуль прогресс
 -----------------------------------------------------------------*/
.progress
	background-color #e9ecef
	height $h = 16px
	width: 100%
	border-radius: .25em
	display flex
	overflow hidden
	&__bar
		background-color #007bff
		height: $h
		color: #fff
		font-family: "Trebuchet MS"
		font-size: 12px
		padding-top: 1px
		display flex
		align-items:center
		justify-content center