/*!-----------------------------------------------------------------
	.switch - модуль кастомных checkbox и radio
 -----------------------------------------------------------------*/
.switch
	position: relative
	display: flex
	align-items center
	height: 34px
	width max-content;
	~/__checkbox
		content: ""
		background-color: #e7f1fe
		size 25px
		border-radius: 4px
		margin-right 10px
		cursor pointer
	input[type="checkbox"]
		display none
		&:checked + ^[0]__checkbox:before
			content ''
			border-bottom 2px solid #000
			border-left 2px solid #000
			// border-radius: 3px
			position absolute
			left 4px
			top 10px
			width 17px
			height 10px
			display block
			transform rotateZ(-45deg)

