/*!-----------------------------------------------------------------
  .tab - модуль табуляция
 -----------------------------------------------------------------*/
$tabPad = 15px
$tabBorderRadius = 8px
.tab
	border: 1px solid #ddd
	border-radius: $tabBorderRadius
	margin-bottom 2em
	&__links
		overflow hidden
		font-size: 18px
		margin: 0
		padding: 0
		list-style: none
		display flex
		background: #f1f1f1
		border-top-left-radius: $tabBorderRadius
		border-top-right-radius: $tabBorderRadius
	&__item
		padding: ($tabPad / 3 * 2) $tabPad
		transition: 0.3s
		&:hover
			background-color: #949494
			cursor pointer
		&--is-active
			background-color: var(--bgColor)
			color var(--colorWhite)
			&:hover
				background-color: var(--bgColor)
				cursor default
	&__content
		transition: opacity 0.5s linear
		padding: 0
		height: 0
		overflow: hidden
		opacity: 0
		&--is-show
			padding: 0 $tabPad ($tabPad / 3)
			opacity 1
			height: auto
