/*!-----------------------------------------------------------------
	.tooltip - модуль всплывающая подсказка
 -----------------------------------------------------------------*/
.tooltip
	color: #1f8b8a
	border-bottom: 1px dashed #1f8b8a
	position: relative
	cursor: pointer


