/*!-----------------------------------------------------------------
	Глобальные переменные
 -----------------------------------------------------------------*/
:root
	--colorWhite: #fff
	--colorBlack: #000
	--colorGray: #e3e6e8
	--borderRadius: 7px

// .t-success
[class$="--theme-success"]
	--bgColor: #4CAF50
	--bgColorHover: #46a049
	--borderColor: #3c763d
	--color: #001e00
// .t-info
[class$="--theme-info"]
	--bgColor: #2196F3
	--bgColorHover: #0b7dda
	--borderColor: #1053a8
	--color: #003351
// .t-warning
[class$="--theme-warning"]
	--bgColor: #ff9800
	--bgColorHover: #ec9413
	--borderColor: #b5520e
	--color: #572d04
// .t-danger
[class$="--theme-danger"]
	--bgColor: #f44336
	--bgColorHover: #da190b
	--borderColor: #a94442
	--color: #4a1716
// .t-secondary
[class$="--theme-secondary"]
	--bgColor: #fff
	--bgColorHover: #e6e6e6
	--color: #292b2c
	--borderColor: #ccc
// .t-primary
// .is-active
[class$="--theme-primary"]
[class$="--is-active"]
	--bgColor: #0275d8
	--bgColorHover: #01549b
	--borderColor: #003351
	--color: #fff