@charset "UTF-8"
/* Общие стили */
@import '_mixins.styl' // вспомогательные функции
@import '_variables.styl' // глобальные переменные
@import "../../node_modules/normalize.css/normalize.css" // нормалайз
@import "typography.styl" // типографика
*
*:before
*:after
	box-sizing border-box

/* Модули */
// Оснонвые элементы страницы
@import "modules/page.styl" // разметка страницы
@import "modules/header.styl" // шапка сайта
@import "modules/footer.styl" // подвал сайта
// Секции
@import "modules/services.styl" // секция о сервисе
@import "modules/about.styl" // секция о компании
@import "modules/competencies.styl" // секция компетенции
@import "modules/portfolio.styl" // секция портфолио
@import "modules/clients.styl" // секция наши клиенты
@import "modules/review.styl" // секция о нас говорят
@import "modules/feedback.styl" // секция для связи
// Навигация
@import "modules/menu.styl" // меню
@import "modules/mobile-menu.styl" // мобильное меню
@import "modules/hamburger.styl" // переключатель меню
// @import "modules/breadcrumb.styl" // хлебные крошки
// @import "modules/pagination.styl" // постраничная навигация
// @import "modules/tab.styl" // табуляция
// // Формы, кнопки
@import "modules/btn.styl" // кнопки
@import "modules/form.styl" // поля форм
@import "modules/switch.styl" // переключатели
// // Информация
// @import "modules/loader.styl" // прелоадер
// @import "modules/tooltip.styl" // всплывающая подсказка
// @import "../../node_modules/tippy.js/dist/tippy.css" // сторонний css для tooltip
// @import "../../node_modules/tippy.js/animations/shift-toward-extreme.css" // анимация tooltip
// @import "modules/callout.styl" // выноска, заметка
// @import "modules/jumbotron.styl" // основное содержимое сайта
// @import "modules/alert.styl" // предупредения
// @import "modules/progress.styl" // прогресс
// // Иконки, картинки
// @import "modules/icon.styl" // png sprite иконки
// @import "modules/icon-svg.styl" // svg sprite
// @import "modules/arrow.styl" // стрелки на css

