/*!
 *+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * Theme
 *+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
/*!-----------------------------------------------------------------
  Подключение локальных шрифтов шрифтов
 -----------------------------------------------------------------*/
fontFace(ClearSansBold)
fontFace(ClearSansRegular)
/*!-----------------------------------------------------------------
  Типографика
 -----------------------------------------------------------------*/
html
	font-size 16px
body
	font-family: 'PT Sans Caption', sans-serif
	color #36434d
	line-height: 1.5em
h1, h2, h3, h4, h5, h6
	font-weight 500
	line-height 1.1
h1
	font-size 2.25rem
h2
	font-size 1.875rem
h3
	font-size 1.5rem
h4
	font-size 1.125rem
h5
	font-size 0.875rem
h6
	font-size 0.75rem
small
	font-size 85%
p
	font-size 1rem
	margin 0 0 10px
	line-height 1.428
ul
	font-size 1rem
	padding-left: $pl = 30px
	padding-inline-start: $pl
ol
	padding-left: $pl = 18px
	padding-inline-start: $pl
	counter-reset: item
	li
		display: block
		&:before
			content: counters(item, ".") "."
			counter-increment: item
			position: relative
			left: -5px
abbr[title]
	font-size 0.875rem
	cursor help
	border-bottom 1px dotted #777
	text-decoration none
address
	font-size 0.875rem
	font-style normal
// html[lang="ru"] q
// 	quotes: '«' '»'
/*!-----------------------------------------------------------------
  Ссылки
 -----------------------------------------------------------------*/
a
	color #337ab7
	text-decoration none
	&:focus
		color darken(@color, 35%)
		text-decoration: underline
	&:hover
		color darken(@color, 35%)
		text-decoration: underline
/*!-----------------------------------------------------------------
  Таблицы
 -----------------------------------------------------------------*/
table
	background-color transparent
	margin-bottom 20px
	border-spacing 0
	border-collapse collapse
	width: 100%
	max-width: 100%
	caption
		padding-bottom .2em
		font-style italic
	td, th
		padding .4rem 0.75rem
	td
		border-bottom 1px solid var(--colorGray)
	th
		text-align left
		font-weight bold
	thead th
		border 0
		border-bottom 1px solid var(--colorBlack)
	tfoot td
		border 0
		border-top 1px solid var(--colorBlack)
	+mema(sizeMedium)
		thead
			display none
		tbody
			tr
				margin-bottom: 10px
				display: block
				border-bottom: 1px solid var(--colorBlack)
				width 100%
				&:last-child
					border-bottom 0
			td
				display: flex
				justify-content: space-between
				border-bottom: 1px solid var(--colorGray)
				&:before
					content: attr(data-label)
					font-weight: bold
		tfoot
			tr
				display flex
				justify-content space-between
			td
				border 0
				font-weight bold

/*!-----------------------------------------------------------------
  Адаптивные картинки
 -----------------------------------------------------------------*/
img
	max-width 100%
	height auto
figcaption
	font-size 14
	text-align center
	font-style: italic